thead tr th{
	text-align: center;

}

thead tr{
	background-color: #f5f5f5;
}

.container-border{
	border-style: solid;
    border-width: 2px;
    padding: 10px;
    margin-top: 20px;
}

.container-margin{
    margin-top: 20px;
}

.text-right{
	text-align: right;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.row{
	margin: 0px !important;
}