<!--<div ng-controller="ListShipControl">-->
<div>
	<div class="container container-margin">
		<div class="row col-md-12 text-right" >
			<a href="#/save">เพิ่มรายการใหม่</a>
		</div>
		<div class="row col-md-12">
			<table class="table table-bordered">
				<thead align="center">
					<tr>
						<th>#</th>
						<th>วันที่ส่ง</th>
						<th>จาก</th>
						<th>ถึง</th>
						<th>detail</th>
						<th colspan="2">Action</th>
					</tr>
				</thead>
				<tbody align="center">
					<tr ng-repeat="ship in shipCollection">
						<td>{{ship.haid}}</td>
						<td>{{ship.sdate}}</td>
						<td>{{ship.send_from}}</td>
						<td>{{ship.send_to}}</td>
						<td>{{ship.detail}}</td>
						<td><a href="#/save/{{ship.haid}}">แก้ไข</a></td>
						<td><a href="" ng-click="deletedata(ship.haid)">ลบ</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>