<!--<div ng-controller="SaveShipController">-->
<div>
	<div class="container container-border">
		<div class="row">
			<div class="col-xs-2">
				<h4>เลขที่ส่ง</h4>
			</div>
			<div class="col-xs-2">
				<input class="form-control text-right" id="idShip" type="number" placeholder="{{hid}}" disabled>
			</div>
			<div class="col-xs-2 col-xs-offset-6">
				<button type="button" class="btn btn-primary btn-block" ng-click="saveData(hid, from_save, to_save)" ng-disabled="lockfrom">บันทึก</button>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				<h4>วันที่ส่ง</h4>
			</div>
			<div class="col-xs-2">
				<div class="form-group">
					<div class='input-group date' id='datepicker'>
						<input type='text' class="form-control" ng-disabled="lockfrom"/>
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>
			<div class="col-xs-2" >
				<h4 class="text-right">จาก</h4>
			</div>
			<div class="col-xs-2">
				<select class="form-control" ng-model="from_save" ng-disabled="lockfrom">
					<option value="KKN" selected>KKN</option>
					<option value="UDN">UDN</option>
					<option value="SNK">SNK</option>
				</select>
			</div>
			<div class="col-xs-2">
				<h4 class="text-right">ถึง</h4>
			</div>
			<div class="col-xs-2">
				<select class="form-control" ng-model="to_save" ng-disabled="lockfrom">
					<option value="KKN" selected>KKN</option>
					<option value="UDN">UDN</option>
					<option value="SNK">SNK</option>
				</select>
			</div>
		</div>
	</div>
	<div class="container container-border" ng-show="lockfrom">
		<div class="row col-xs-12">
			<table class="table table-bordered">
				<thead align="center">
					<tr>
						<th width="5%">#</th>
						<th width="60%">รายละเอียด</th>
						<th width="20%">จำนวน</th>
						<th width="15%">Action</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td>#</td>
						<td><input type="text" id="" class="form-control" placeholder="Add Detail" ng-model="sdesc"></td>
						<td><input type="number" id="" class="form-control" placeholder="Add Detail" ng-model="amount"></td>
						<td><button type="button" class="btn btn-primary btn-block" ng-click="addShipDetail(hid, sdesc, amount)">เพิ่ม</button></td>
					</tr>
				</tfoot>
				<tbody align="center">
					<tr ng-repeat="ship in shipCollection">
						<td>{{$index+1}}</td>
						<td class="text-left">{{ship.sdesc}}</td>
						<td>{{ship.amount}}</td>
						<td><a href="" ng-click="deletedata(ship.id)">ลบ</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	//================== jQuery ===========================
	/*$(document).ready(function() {
	    $('#datepicker').datetimepicker({
	        format: 'DD-MM-YYYY',
	        defaultDate: new Date()
	    });
	});*/
</script>
